<% provide(:title, 'Список пользователей') %>
<h1>Пользователи</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user %>
        <% if signed_in? && (current_user.admin? || current_user?(user)) %>
        <!--% if signed_in? && (current_user.admin?) %-->
            | <%= link_to "Удалить", user, method: :delete,
                          data: { confirm: "Вы уверены что хотите удалить пользователя " + user.name + "?" } %>
        <% end %>
      </li>
  <% end %>
</ul>

<%= will_paginate %>